body {
  font-family:sans-serif;
}


.navbar {
  padding-right: 20px;
  padding-left: 25px;
  background-color:#273038;
}

@media only screen and (max-width: 1024px) {
  .navbar {
      padding-right: 155px;
      padding-left: 30px;
      background-color: #273038;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
}

.navbar-default .navbar-brand {
  color: #b5a9d6;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #b5a9d6;
}

.background {
  background-image: url('images/cover-photo.jpg');
  max-width:103%;
  height: 60vh;
  opacity: 0.6;
  background-repeat: no-repeat, repeat;
  color:#000000;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .background {
    max-width:100%;
    max-height: 20vh;
  }
}

.projects {
  background-color: white;
  color: #273038;
  font-size: 15px;
  padding: 60px 0px 60px 0px;
}

.projects a:hover {
    color: #b5a9d6 !important;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #333;
}

.tech-row {
  padding: 30px 0px 50px 0px;
  background-color:#273038;
  color:#b5a9d6;
  font-size: 15px;

}

@media only screen and (max-width: 768px) {
  .tech-row {
    padding: 30px 0px 50px 0px;
    background-color:#273038;
    color:#b5a9d6;
    font-size: 9px;

  }
}


.bio-photo{
}

@media only screen and (max-width: 768px) {
  .bio-photo {
    position: center;
  }
}

.about-me {
  padding: 40px 0px 40px 0px;
  background-color: ghostwhite;
  color:black;
}


a:hover {
  color:#b5a9d6;
  cursor:pointer;
}

i:hover {
  color:white;
  cursor:pointer;
}

footer {
  background-color: #273038;
  padding: 15px 0px 15px 0px;
  max-width:100%;
  color:#b5a9d6;
}



.contact-icons {
  margin: 0px 5px 0px 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*navbar collapse (ipad)*/
/*@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/
