body {
  font-family:sans-serif;
}
.row {
     margin-right: 0px;
     margin-left: 0px;
}
.navbar {
  padding-right: 20px;
  padding-left: 25px;
  background-color:#273038;
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0px 0px 0px 0px;
      background-color: #273038;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px;
}

.navbar-default .navbar-brand {
  color: #b5a9d6;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #b5a9d6;
}

.background {
  background-image: url('images/cover-photo.jpg');
  max-width:103%;
  height: 60vh;
  opacity: 0.6;
  background-repeat: no-repeat, repeat;
  color:#000000;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .background {
    max-width:104vw;
    max-height: 30vh;
  }
}

.background-mobile{
  background-color: ghostwhite;
  width:65vh;
}
.projects {
  background-color: white;
  color: #273038;
  font-size: 15px;
  padding: 60px 0px 60px 0px;
}

.projects-mobile {
  background-color: white;
  color: #273038;
  font-size: 15px;
  padding: 60px 30px 60px 0px;
}

.projects a:hover {
    color: #b5a9d6 !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #333;
}

.tech-row {
  padding: 30px 0px 50px 0px;
  background-color:#273038;
  color:#b5a9d6;
  font-size: 15px;

}

.tech-row-mobile {
  padding: 15px 0px 25px 0px;
  background-color:#273038;
  color:#b5a9d6;
  font-size: 12px;
  }

.bio-photo{
}

@media only screen and (max-width: 768px) {
  .bio-photo {
    position: center;
  }
}

.about-me {
  padding: 40px 0px 40px 0px;
  background-color: ghostwhite;
  color:black;
}


.about-me-mobile {
  padding: 40px 0px 40px 0px;
  background-color: ghostwhite;
  color:black;
}


a:hover {
  color:#b5a9d6;
  cursor:pointer;
}

i:hover {
  color:white;
  cursor:pointer;
}

.footer-desktop {
  background-color: #273038;
  padding: 15px 0px 15px 0px;
  max-width:100vw;
  color:#b5a9d6;
}

.footer-mobile {
  background-color: #fff;
  padding: 15px 0px 15px 0px;
  max-width:100vw;
  color:#b5a9d6;
}


.contact-icons {
  margin: 0px 5px 0px 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
